.page{:id => "page-#{page_part.name.to_slug}"}
  .part{:id => "part-#{page_part.name.to_slug}"}
    = hidden_field_tag 'page[parts][][name]', page_part.name, :id => "part_#{page_part.name.to_slug}_name"
    = hidden_field_tag 'page[parts][][page_part_type]', 'StringPagePart', :id => "part_#{page_part.name.to_slug}_page_part_type"
    %div
      = text_field_tag 'page[parts][][content]', h(page_part.content), :class => "textbox string-page-part", :maxlength => 255, :id => "part_#{page_part.name.to_slug}_content"