= hidden_field_tag "page[parts_attributes][#{page_part_counter}][id]", page_part.id, :id => "part_#{page_part_counter}_id", :class => "id_input"
= hidden_field_tag "page[parts_attributes][#{page_part_counter}][_delete]", false, :class => "delete_input"
= hidden_field_tag "page[parts_attributes][#{page_part_counter}][filter_id]", ''
= hidden_field_tag "page[parts_attributes][#{page_part_counter}][page_part_type]", 'PagePart', :id => "part_#{page_part.name.to_slug}_page_part_type"
= render_region :part_controls, :locals => {:page_part => page_part}
%div
  ~ text_area_tag "page[parts_attributes][#{page_part_counter}][content]", h(page_part.content), :class => "textarea", :style => "width: 100%", :id => "part_#{page_part.name.to_slug}_content"